* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: white;
  background-color: black;
  line-height: 1.4;
  font-family: "Yrsa", serif;
}

.aboutMe {
  background-color: #04042a;
}
.btn {
  text-decoration: none;
  font-size: 1.5rem;
  background-image: linear-gradient(#df8c2b, #f7c419);
  color: black;
  text-align: center;
  animation: animacja 2s ease-in-out 0s infinite alternate none;
}
@keyframes animacja
{
0% { border: white 3px solid;}
100% { border: black 3px solid;}
}
.img:hover {
    transform: scale(1.3);
}
.btn:hover {
  background-image: linear-gradient(#59d6de, #355ebd);
}
img {
  max-width: 100%;
  overflow: hidden;
  max-height: 90%;
}
.bg {
  width: 100%;
  min-height: 250px;
  background-image: url("children.jpg");
  background-size: cover;
  background-position: center;

  overflow: hidden;
}

.wrapper {
  display: grid;
}
.main-nav ul {
  display: grid;
  grid-gap: 0px;
  margin: 0.5rem;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main-nav li {
  border: white 2px solid;
  background-color: black;
  border-radius: 8px;
  z-index: 100000;
}
.main-nav a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.8rem;
  text-align: center;
  font-size: 1.1rem;
}
.main-nav li:hover {
  background-image: linear-gradient(#df8c2b, #f7c419);
  border: black solid 3px;
}
.main-nav a:hover {
  color: black;
}
.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0% 5%;
}

.top-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  min-height: 85vh;
  margin: 0 auto;
  margin-top: 6rem;
  width: 100vw;
}
@media (max-width: 830px) {
  .top-container {
    grid-template-columns: 1fr;
  }
  .top-container h1 {
    font-size: 3rem;
  }
}
@media (max-width: 360px) {
  .main-nav a {
    font-size: 0.8rem;
  }
  .aboutMe p {
    font-size: 1rem;
  }
}
.showcase {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}
.showcase h1 {
  max-width: 100%;
}
.top-container .btn {
  border-radius: 8px;
  padding: 1rem;
  align-self: center;
  text-align: center;
  width: auto;
  vertical-align: middle;
  margin-bottom: 2rem;
}
.aboutMe {
  max-height: 90vh;
  margin-top: 0px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4%;
  padding: 0% 5%;
  padding: 3rem 0;
  max-width: 100vw;
}
.aboutMe div {
  width: 90%;

  margin-top: 0px;
  font-size: 1.3rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 1rem;
}
.boxes {
  display: grid;
  grid-gap: 70px;
  min-height: 100vh;
  grid-template-columns: repeat(
    auto-fit,
    minmax(400px, 1fr)
  );
  width: 100%;
  margin: 0 auto;
  padding: 0% 5%;
  width: 100vw;
  min-height: 75vh;
}
.box {
  padding-top: 30px;
  text-align: center;
  display: grid;
  grid-gap: 15px;
  font-size: 1.3rem;
  max-width: 100%;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 2rem;
  color: #f7c419;
}

.hh h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 5rem;
}
.portfolio {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
  padding: 120px 5% 0px;
  margin: 0px auto;
  width: 100vw;
}
@media (max-width: 800px) {
  .portfolio {
    grid-template-columns: 1fr;
  }
  .boxes {
    grid-template-columns: 1fr;
  }
}

.portfolio img {
  margin: 0 auto;
  max-width: 100%;
  align-self: center;
}
.portfolio div {
  background-color: black;
  margin-bottom: 100px;
}
.third h2 {
  font-size: 2rem;
  color: #f7c419;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(#df8c2b, #f7c419);
  padding: 2rem;
  min-height: 70vh;
  grid-gap: 140px;
  font-size: 2rem;
  justify-items: center;
  width: 95vw;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 70px;
}

@media (max-width: 1100px) {
  .form {
    grid-template-columns: 1fr;
  }
}

.form .formDesc {
  font-size: 2rem;
  background-color: white;
  border-radius: 20px;
  color: black;
  width: 70%;
  padding: 30px;
  text-align: center;
  height: auto;
  margin: auto auto;
  border: black 3px solid;
  align-self: start;
}
.form form {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 3fr;
  min-width: 160px;
  justify-items: center;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 500px) {
  .form form {
    grid-template-columns: auto 1fr;
  }
  form label {
    font-size: 5vw;
  }
  .form .formDesc {
    font-size: 6vw;
    padding: 10px;
    width: 95%;
  }
  .form {
    padding: 0.5rem;
    grid-gap: 50px;
  }
}
.form button {
  background-color: white;
  font-size: 1rem;
  padding: 10px 25px;
  border-radius: 20px;
  border: black 3px solid;
  margin: 30px 0px 100px 0px;
  color: black;
}
.form input {
  width: 110%;
  align-self: baseline;
  border-radius: 20px;
  border: black 3px solid;
  padding: 5px;
}
.form textarea {
  height: 100%;
  grid-row-start: 4;
  grid-row-end: span 2;
  grid-column-start: 2;
  resize: none;
  max-width: 90%;
  border-radius: 20px;
  border: black 3px solid;
  padding: 5px;
}
.fourth {
  width: 100%;
}
.footer {
  max-height: 20vh;
  border-radius: 20px;
  border: 3px white solid;
  font-size: 7vw;
}

.form button {
  background-color: white;
  font-size: 1rem;
  padding: 10px 25px;
  border-radius: 20px;
  border: black 3px solid;
  margin: 30px 0px 100px 0px;
  color: black;
}
.form input {
  width: 100%;
  align-self: baseline;
  border-radius: 20px;
  border: black 3px solid;
  padding: 5px;
}
.form textarea {
  height: 100%;
  grid-row-start: 4;
  grid-row-end: span 2;
  grid-column-start: 2;
  resize: none;
  max-width: 90%;
  border-radius: 20px;
  border: black 3px solid;
  padding: 5px;
}
.fourth {
  width: 100%;
}
.footer {
  max-height: 20vh;
  border-radius: 20px;
  border: 3px white solid;
  font-size: 7vw;
  text-align: center;
  padding: 10px;
  width: 95vw;
  margin: 0 auto;
}
.footer > * {
  margin: 0 5%;
  color: white;
}
